button {
  background-color: red;
  border: none;
  font-size: 1rem;
  font-family: Roboto;
}

div {
  background-color: green;
  display: block;
  font-size: 2rem;
  border: 1px solid black;
  /* width: 100px;
  height: 200px; */
}

p.important {
  font-size: inherit;
}

p {
  border: inherit;
  font-size: 1.25rem;
}
