* {
  font-size: 50px;
}

.parent {
  background-color: rgb(87, 87, 233);
  padding: 20px;
  /* it has to be add if we want to add relative */
  position: relative;
  height: 200vh;
}

.child-one {
  background-color: rgb(54, 153, 29);
  margin: 0px;

  /*relative*/
  /* position: relative;
  left: 10px;
  top: 10px;
  bottom: 20px;
  right: 4px;
  z-index: 10000; */

  /* absoulte */
  /* position: fixed; */
  position: sticky;
  top: 0px;
}
.child-two {
  background-color: rgb(208, 130, 28);
  margin: 10px;
}
.child-three {
  background-color: rgb(165, 35, 53);
  margin: 10px;
}
